/*.sacola {
	background: url(../img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
	padding-top: 8px;
	position: absolute;
	top: 15px;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes a:hover {
	color: #007c06;
}

.menu-opcoes a:active{
	color: #867dc6;
}

.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	width: 230px;
}

.menu-departamentos {
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:hover ul {
	display: block;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
	content: '\272A';
	padding-right: 3px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
	margin: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-top: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333333;
	text-decoration: none;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;   
}*/

.container {
	margin: 0 auto;
	width: 940px;
}

.destaque {
	margin-top: 10px;
}

body {
	color: #333333;
	font-family: "Lucida SansUnicode", "Lucida Grande", sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}


.menucabecalho {
	display: inline;
	margin-left: 20px;
	padding-top: 5px;
}

.painel {
	margin-right: 10px 0;
	padding: 10px;
	width: 900px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #999;
}

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;

}

.painel h2:before {
	content: '\2756';
	padding-right: 3px;
	opacity: 0.4;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	-webkit-transition: 0.7s;
	transition: 0.7s;
	margin: 2px;
	padding-bottom: 10px;
}


.painel li:hover {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px #333;
	-webkit-transition: box-shadow 0.7s;
	-webkit-transform: scale(1.2) rotate(-5deg);
	-moz-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate (-5deg);
	transition: box-shadow 0.7s;
	-webkit-transition: background-color 0.7s;
	transition: background-color 0.7s;	
}

.painel li:nth-child(2n):hover {
	-webkit-transform: scale(1.2) rotate(5deg);
	-moz-transform: scale(1.2) rotate(5deg);
	transform: scale(1.2) rotate (5deg);
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.novidades {
	float: left;
	background-color: #f5dcdc;
	background: linear-gradient(#f5dcdc, #f4bebe);
}

.mais-vendidos {
	float: right;
	background-color: #dcdcf5;
	background: linear-gradient(#dcdcf5, #bebef4);
}

header {
	position: relative;
}

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 10px;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 25px;
}

.social li{
	float: left;
	/* margin-left: 30px; */
}

.social li a{
	height: 32px;
	width: 32px;
	margin-right: 5px;
	display: block;
	text-indent: -9999px;
}

footer img {
	margin-left: 10px;
	padding-top: 5px;
}

.social a[href*="facebook.com"]{
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"]{
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"]{
	background-image: url(../img/googleplus.png);
}





