
.cores label:after{
	content: '';
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

/*label[for="verde"]:after{
	background-color: #33CC66;
}*/

label[for="rosa"]:after {
	background-color: #FF6666;
}

label[for="azul"]:after {
	background-color: #6666FF;
}

/*.cores input:checked + label:after {
	border: 6px solid rgba(0,0,0,0.3);
}*/

.cores label:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cores label img {
	display: block;
	max-width: 100%;
}

.cores input[type=radio] {
	display: none;
}

.cores input:not(:checked) + label img {
	display: none;
}

.produto {
	color: #333;
	line-height: 1.3;
	margin-top: 2em;
}

.produto h1 {
	font-size: 1.8em;
}

.produto p {
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 1em;

}

.detalhes {
	padding: 2em 0;
}

.detalhes h2 {
	font-size: 1.5em;
	line-height: 2;
}

.detalhes p {
	margin-bottom: 1em 0;
	font-size: 1em;
	line-height: 1.5
	max-width: 36em;
}

table {
	border-spacing: 0.2em;
	border-collapse: separate;
}

thead {
	background-color: #999;
}

thead th {
	font-weight: bold;
	padding: 0.3em 1em;
	text-align: center;
}

td {
	padding: 0.3em;
}

tr:nth-child(2n) {
	background-color: #ccc;
}

td:first-child {
	font-style: italic;
}

.produto-back {
	background-color: #F2F2F2;
	margin-top: 1em;
	border-top: 2px solid #ccc;
}

.cores label img {
	border: 2px solid #ccc;
}

body {
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 13px;
}
