body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

.container {
	margin: 0 auto;
	width: 940px;
}

.sacola {
	background: url(img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
	padding-top: 8px;
	position: absolute;
	top: 15px;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes a {
	color: #003366;
}

.menucabecalho {
	display: inline;
	margin-left: 20px;
	padding-top: 5px;
}

.titulo {
	background-image: url(img/sobre-background.jpg);
	padding: 10px;
}

h1 + p {
	text-indent: 0;
}

h2 {
	border-bottom: 2px solid #333333;
	margin-top: 30px;
	font-weight: bold;
}

figure {
	background-color: #F2EDED;
	border: 1px solid #ccc;
	text-align: center;
	padding: 15px;
	margin: 30px;
}

figcaption {
	font-style: italic;
	margin-top: 10px;
}

p {
	background-color: white;
	padding: 0 45px;
	text-indent: 15px;
	margin-top: 5px;
}

p:first-letter {
	font-weight: bold;
}

p:first-line {
	font-variant: small-caps;
}

:not(p) + p:first-line {
	font-variant: small-caps;
}

#centrodistribuicao {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#familiapelho{
	float: right;
	margin: 0 0 10px 10px;
}


#rodape {
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}

#rodape img {
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}



.teste {
	display: inline;
	margin-left: 20px;
	padding-top: 5px;
}

header {
	position: relative;
}

footer {
	background-image: url(img/fundo-rodape.png);
	clear: both;
	padding: 10px;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 25px;
}

.social li{
	float: left;
	/* margin-left: 30px; */
}

.social li a{
	height: 32px;
	width: 32px;
	margin-right: 5px;
	display: block;
	text-indent: -9999px;
}

footer img {
	margin-left: 10px;
	padding-top: 5px;
}

.social a[href*="facebook.com"]{
	background-image: url(img/facebook.png);
}

.social a[href*="twitter.com"]{
	background-image: url(img/twitter.png);
}

.social a[href*="plus.google.com"]{
	background-image: url(img/googleplus.png);
}
